---
---

@import "{{ site.theme }}";
tr:nth-child(4),
tr:nth-child(8),
tr:nth-child(12) {
  background-color: #373737;
  color: #F9FCFF;
}
img {
    float: left;  /* Float the images to the left */
    margin-right: 0.5rem;  /* Add margin to the right to create space between the image and text */
    margin-bottom: 1rem;  /* Add space below the image */
    width: 15%;  /* Keep the width small */
}
p {
    clear: both;  /* Ensures paragraphs clear any preceding floated images */
}
