---
---

@import "{{ site.theme }}";
tr:nth-child(4),
tr:nth-child(8),
tr:nth-child(12) {
  background-color: #373737;
  color: #F9FCFF;
}
img {
    display: inline;  /* Set images as inline elements */
    float: left;
    margin-left: auto;
    margin-right: 5rem;
    margin-bottom: 5%;
    width: 15%;
}
p {
    clear: both;  /* Ensures paragraphs clear any preceding floated images */
    margin-top: 2rem;  /* Add space before the paragraphs */
}
body {
  text-align: start;
}
