---
---

@import "{{ site.theme }}";
tr:nth-child(4),
tr:nth-child(8),
tr:nth-child(12) {
  background-color: #373737;
  color: #F9FCFF;
}
img {
    display: block;
    float: left;
    margin-left: auto;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 15%;
}
body {
  text-align: start;
}
